<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id=condition-rendering>
        <p v-if="seen">りんご</p>
        <p v-if="!seen">オレンジ</p>
        <button v-on:click="click">食べ物が変わります</button>
    </div>
    <div id="list-rendering">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <script src="control-structure.js"></script>
</body>

</html>